$tamsi: #3D3D3D;
$sviesi: #dbdfd3;
$on-hover: #ffbd54;

.footer_container{
    background-color: $tamsi;
    display: flex;
    justify-content: space-between;
    @include phone{
        flex-direction: column;
        align-items: center;
    }   
    padding: 0.6rem;
    font-size: 0.8rem;
    flex-wrap: wrap;
    
    .copywright{
        color: $sviesi;
        @include tablet{
            order: 1;
            width: 60%
        } 
        @include phone{
            order: 2;
        }     
    }
    .designer{
        color: $sviesi;
        @include tablet{
            order: 3;
        }
        @include phone{
            order: 3;
        }   
    }
    
    .back_to_top{
        color: $sviesi;
        text-decoration: none;
        display: flex;
        justify-content: end;
        font-size: 1.2rem;
        @include tablet{
            order: 2;
        }
        @include phone{
            order: 1;
            margin: 1rem;
        }  
        transition: 0.3s; 

    }
    .back_to_top:hover{
        color: $on-hover;
        svg{
            stroke: $on-hover
        }

    }
}