@keyframes changeColor {
    0% { color: rgb(51, 148, 187); }
    10% { color: rgb(78, 167, 202); animation-duration: var(--duration-10); }
    25% { color: rgb(75, 155, 187); animation-duration: var(--duration-25); }
    35% { color: rgb(63, 143, 175); animation-duration: var(--duration-35); }
    50% { color: rgb(73, 168, 206); animation-duration: var(--duration-50); }
    59% { color: rgb(69, 166, 204); animation-duration: var(--duration-59); }
    75% { color: rgb(72, 146, 175); animation-duration: var(--duration-75); }
    85% { color: rgb(78, 145, 172); animation-duration: var(--duration-85); }
    100% { color: rgb(51, 148, 187); }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes scale-out {
    0% { transform: scale(3); }
    100% { transform: scale(1);}
}
@keyframes slide-in-left {
    0% { transform: translateX(100vw) }
    /* 0% { transform: translateX(calc(100vw+50%)) } */
    100% { transform: translateX(0); }
}
@keyframes slide-in-up {
    0% { transform: translateY(100vh) }
    /* 0% { transform: translateX(calc(100vw+50%)) } */
    100% { transform: translateY(0); }
}
.App {
    height : 100vh;
  }
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.nav-button {
    display: inline-block;
    color : rgb(154, 162, 165);
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition:  0.3s;
    transition-timing-function: cubic-bezier(.52,2.06,.67,.55);
}
.nav-button:hover {
    color :rgb(51, 148, 187);
    transform: scale(1.5);
    margin: 0 10px 0 30px;
}
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0 auto;
    height: 50px;
    opacity: 0;
}  
.no-cursor {
    cursor: default;
    pointer-events: none;
}
.hello {
    animation: changeColor 5s infinite;
}
.introduction {
    font-size: 0.8rem;
    width: 70%;
}
.light-blue {
    color: rgb(51, 148, 187);
}
.wrapper {
    /* width: 50%;
    height:100wh; */
    opacity: 0;
}
.fade-n-scale {
    animation: 
        fade-in 1s cubic-bezier(.97,.08,1,1) forwards, 
        scale-out 1s cubic-bezier(.15,1.04,1,1) forwards;
}
/* .card-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
} */
/* .card {
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.52,2.06,.67,.55);
    border: none;
    width: 300px;
    height: 185px;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0;
}
.card:hover {
    width: 400px;
    height: 247px;
    filter: grayscale(0);
    transform: translateX(-10%);
} */
.fade-n-slide {
    animation: 
    fade-in 0.8s cubic-bezier(.97,.08,1,1) forwards, 
    /* slide-in 0.7s cubic-bezier(.73,1.55,.36,.88) forwards; */
    slide-in-left 0.7s cubic-bezier(.72,-0.05,.71,1.14) forwards;
    /* slide-in 0.7s cubic-bezier(1,1.49,.38,.89) forwards; */
}


@media screen and (max-width: 600px) {
    .introduction {
        width: 100%;
    }
    .wrapper {
        width: 80%;
    }
    .card-wrapper {
        position: relative;
        /* transform: translateY(50%); */
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
        overflow-y: scroll;
    }
    .card {
        width: 80%;
        aspect-ratio: 1.618 / 1; /*Golden ratio*/
        object-fit: cover;
        transition: 0.3s cubic-bezier(.52,2.06,.67,.55);
        filter: grayscale(100%);
        opacity: 0;
    }
    .card:hover {
        width: 95%;
        aspect-ratio: 1.618 / 1;
        filter: grayscale(0);
    }
    .card-img {
        width: 100%;
        aspect-ratio: 1.618 / 1;
    }
    .fade-n-slide {
        animation: 
            fade-in 0.8s cubic-bezier(.97,.08,1,1) forwards, 
            slide-in-up 0.7s cubic-bezier(.72,-0.05,.71,1.14) forwards;
    }
}
@media screen and (min-width: 600px) {
    .introduction {
        width: 100%;
    }
    .wrapper {
        width: 70%;
    }
    /* .card-wrapper {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        overflow: hidden;
    }
    .card {
        width: 450px;
        height: 278px;
    }
    .card:hover {
        width: 100%;
    } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 60%;
    }
    .introduction {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        width: 50%;
    }
    .introduction {
        width: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

